/* Stili per il logo */
.logo {
  background-image: url(../img/pattern.png);
  height: 200px;
  background-color: rgb(47, 147, 251);
}

.nome-pagina {
  height: 150px;
}

/* Stili per il testo */
.text {
  font-size: 20px;
  color: lightgray;
}

.text2 {
  font-size: 25px;
  color: rgb(43, 147, 251);
}

.img-tim {
  max-width: 100%;
  height: auto;
  background-size: cover;
}

h1 {
  font-size: 50px;
}

.paragraf {
  font-size: 20px;
}

.text-color {
  background-color: yellow;
  width: 30px;
  height: 30px;
}

.font {
  font-size: 20px;
}

/* Stili per la tabella */
.cell,
.big-cell {
  background-color: rgb(0, 157, 255);
  color: white;
  font-size: 20px;
}

table {
  max-width: 1330px;
}
.table1 {
  background-color: rgb(0, 157, 255);
}

/* Stili per il footer */
.footer1,
.footer2 {
  width: 100%;
}

.text-footer {
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  .paragraf {
    font-size: 18px;
  }

  .text-footer {
    font-size: 20px;
  }

  /* Modifica per adattare il logo */
  .logo {
    height: auto;
  }

  .nome-pagina {
    max-width: 100%;
  }
}
